{% extends "login/base.html" %}

{% block content %}
<h3 class="text-center my-4">名探偵コナン映画シェアサイト</h3>
{% if user.id  %}
<p>ログインしました．</p>
<p>こんにちは，{{ user.username }}さん</p>
<div class="login_handle_container text-center">
	<a href="{% url 'app:movie_list' %}" class="btn btn-outline-info mr-3" role="button">映画一覧</a>
	<a href="{% url 'login:logout' %}" class="btn btn-outline-danger mr-3" role="button">ログアウト</a>
</div>
{% else %}
<div class="login_handle_container text-center">
	<a href="{% url 'login:login_user' %}" class="btn btn-outline-info mr-3" role="button">ログイン</a>
	<a href="{% url 'login:create_user' %}" class="btn btn-outline-danger ml-3" role="button">新規登録</a>
</div>
{% endif %}

{% endblock content %}
